body{
background-image: url(https://cdn.leroymerlin.com.br/products/papel_de_parede_liso_preto_com_glitter_1567181465_3f20_600x600.jpg);

}

.título{
text-align: center;
color: whitesmoke;
text-shadow: 2px 2px 1px red;
}

.btn{
    padding: 20px 20px;
    background:  rgba(143, 143, 143, 0.082);
    text-align: center;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    font-size: 30px;
    
   text-shadow: 2px 2px 1px rgb(134, 0, 0), -3px 3px 3px black, -3px 3px 3px black, -3px 3px 3px black;
   Display: inline-block;
   Margin: 50px;
   Padding: 15px;
   font-family: 'gta';
   margin-left: 8%;

}
a{
text-decoration: none;
color: white;
}
.btn:hover{
    background:  rgba(255, 255, 255, 0.11);
    font-size: 35px;
}

.hr{
position: absolute;
margin-top: 10%;
}

.parágrafo{
color: white;
text-shadow: 1px 2px 1px red;
font-size: 130%;
margin-right: 20%;
}

.ieu{
position: absolute;
margin-left: 450px;
margin-top: -10%;

}

.eu{
margin-top: 10%;
margin-left: 1%;
color: fuchsia;
}

.imagens{
position: absolute;
margin-top: -30.4%;
margin-left: 85%;
border: 1px solid fuchsia;
}